@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: rgba(13, 66, 108);
    --secondary-color:rgba(25, 105, 179);
    --white-color: rgba(255, 255, 255);
    --footer-color: rgb(37, 151, 185);
    --cor1: rgb(255, 0, 0);
    --cor2: rgb(0, 255, 34);
    --cor3: yellow;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white-color);
    
}

header {
    text-align: center;
    margin: auto;
    display: block;
    max-width: 900px;
    height: 120px;

}

main {
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    max-width: 900px;
    display: flex;
    position: relative;
    z-index: -1;
    bottom: 0px;
}

figure {
    padding: 10px;
    max-width: 200px;
    z-index: -1; 
}

img.logo {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;   
}

figcaption {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--primary-color);
}

p {
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.logoFront {
    float: left;

}

.logoSocial {
    float: right;
    margin-top: 10px;
    padding-right: 5px;
}

.input {
    background-image: url(../images/search-icon.png);
    background-repeat: no-repeat, repeat;
    background-position: right;
    margin-top: 10px;
    width: 520px;
    height: 28px; 
}

.menuButton {
    display: none;
}

.dp-menu {
    background-color: var(--primary-color);
}

.menu {
    margin-left: 190px;  
}

.dp-menu ul {
    list-style-type: none;
     
}

.dp-menu a {
    width: 110px;
}

.dp-menu ul li {
    display: inline-block;
    position: relative;
}

.dp-menu ul li a {
    color: var(--white-color);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    text-align: center; 
    text-transform: uppercase;
    position: relative;
    nav-left: inherit;
}

.dp-menu ul li a:hover {
    background-color: var(--secondary-color);
    background-position: left;
    display: inline-block;
}

.dp-menu li li:hover a{
    background-image: url(../images/caret.png);
    background-repeat: no-repeat;
    background-position: 10%;
    cursor: none;
}

.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;    
}

.dp-menu ul li:hover ul {
    display: block;
    text-align: center;
    background-color: var(--secondary-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

.dp-menu ul ul li {
    display: inline;
}

footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 5px;
    margin-top: 20px;
    text-align: center;
    font-size: 0.8em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.226);
    bottom: 0px;
}

footer a {
    text-decoration: none;
    color: var(--white-color);
}

footer a:hover {
    text-decoration: underline;
    color: var(--footer-color);
}

#close-menu {
    display: none;
}

@media(max-width: 800px) {
    
    header { 
        margin: auto;
        margin-top: 30px;
    }

    .input::-webkit-input-placeholder {
        font-size: 90%;
    }
    
    .logoFront {
        max-width: 45%;
        max-height: 45%;
        float: left;
    }
    
    .input {
        margin-top: 2px;
        max-width: 50%;
        max-height: 50%; 
        padding: 3px;
    }

    .logoSocial {
        float: right;
        margin-top: 5px;
        padding-right: 2px;
        max-width: 20%;
        max-height: 20%; 
    }

    main {
        margin: auto;
        display: grid;
        justify-items: center;
    }

    .menu{
        margin: auto;
    }

    .dp-menu ul li a {
        margin: auto;
        
    }

    .dp-menu a {
        width: 150px;
    }

}

@media(max-width: 715px){
    .dp-menu {
        position: fixed;
        display: none;
    }

    main {
        margin-top: 20px;
    }

    .dp-menu {
        margin-left: 10px;
        width: 170px;
        text-align: center;
    }

    .dp-menu ul li:hover ul {
        z-index: 2;
        margin-left: 170px;
    }

    .dp-menu ul {
        display: grid;
        text-align: left;
    }

    .close-menu-label {
        background-color: var(--cor2);
        height: 100px;
    }
    
    .close-menu {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        display: none;
    }
    
    .close-menu-label::after {
        content: ' ≡ ';
        position: fixed;
        z-index: 2;
        top: 100px;
        left: 10px;
        background-color: var(--secondary-color);
        color: var(--white-color);
        font-size: 38px;
        line-height: 38px;
        width: 38px;
        height: 38px;
        text-align: center;
        padding: 3px;
        cursor: pointer;
    }

    .close-menu:checked~.dp-menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        display: block;
        content: ' × ';
    }
}












